.user-info {
    display: flex;

    .user-image img {
        border-radius: 50%;
        height: 50px;
        // padding-top: 10px;
    }

    .user-name {
        padding: 0 20px 20px 10px;
        
        .user-actual-name {
            font-weight: 700;
        }

        img {
            height: 16px;
        }
    }
}