@import '../../../variables';

@keyframes animateLike {
    0% {
        transform: scale(1);
    }

    50% {
        transform: scale(1.2);
    }

    100% {
        transform: scale(1);
    }
}

@keyframes animateRetweet {
    100% {
        transform: rotateZ(360deg);
    }
}

.tweet-body {
    color: #14171A;
    font-size: 24px;
    padding: 20px 0;
}

.tweet-footer-date {
    color: $secondary-text-color;
    display: flex;
    
    .separator {
        padding: 0 5px;
    }

    .tweet-device {
        color: $main-blue-color;
    }
}

.tweet-footer-likes {
    display: flex;
    margin: 25px 0;
    
    .tweet-hits {
        color: $secondary-text-color;
        margin-right: 20px;


        span {
            color: $main-text-color;
            font-weight: 700;
        }
    }
}

.tweet-footer-interact  {
    display: flex;

    img {
        cursor: pointer;
        margin-right: 50px;
    }

    & img.comment-icon {
        height: 16px;
    }

    & img.retweet-icon, & img.like-icon {
        height: 20px;
    }

    & img.like-icon.liked {
        animation: animateLike .1s linear;
    }

    & img.retweet-icon.retweeted {
        animation: animateRetweet .5s linear;
    }
}

.hidden {
    display: none;
}


